body {
	background: #ddd;
	font-family: Comic Sans MS, Comic Sans, cursive;
	letter-spacing: 1px;
}

h2 {
	margin: 0px;
}

.container {
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 40px;
	border-radius: 10px;

	width: 80%;
	max-width: 1170px;
}

