/*Стандартные свойства для эранов 1920 и более*/
body {
	background: #ddd;
	font-family: Comic Sans MS, Comic Sans, cursive;
	letter-spacing: 1px;
	color: #004040;
}

.wrapper {
	background: #fff;
	margin: 40px auto;
	padding: 15px 30px;
	border-radius: 10px;

	width: 80%;
	max-width: 1920px;
	min-width: 320px;
}

p {
	margin: 0px 0px 0px 0px;
	font-size: 32px;
	font-weight: bold;
}

.block__item {
	margin: 15px 0px 0px 0px;
	border-top: 1px solid #ddd;
}

.block__title {
	margin: 15px 0px 10px 0px;

	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	position: relative;
}

.block__title:hover {
	transition: all 0.5s ease;
	color: #00a0a0;
}

.block__text {
	display: none;
	width: 60%;
	font-size: 18px;
}

.block__item.active .block__text {
	display: block;
}

/*анимация плюсика*/
.block__title:before,
.block__title:after {
	content: '';
	width: 20px;
	height: 3px;
	background: #00a0a0;
	position: absolute;
	top: 10px;
	right: 5px;
}

.block__title:before {
	transform: rotate(90deg);
	animation: plus1 0.5s forwards ease-in-out;
}
@keyframes plus1 {
  0% {transform: rotate(135deg);}
  50% {transform: rotate(158deg);}
  100% {transform: rotate(180deg);}
}

.block__title:after {
	animation: plus2 0.5s forwards ease-in-out;
}
@keyframes plus2 {
  0% {transform: rotate(45deg);}
  50% {transform: rotate(68deg);}
  100% {transform: rotate(90deg);}
}

.block__item.active .block__title:before {animation: plus3 0.5s forwards ease-in-out;}
@keyframes plus3 {
  0% {transform: rotate(90deg);}
  50% {transform: rotate(113deg);}
  100% {transform: rotate(135deg);}
}

.block__item.active .block__title:after {animation: plus4 0.5s forwards ease-in-out;}
@keyframes plus4 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(23deg);}
  100% {transform: rotate(45deg);}
}

/*Контрольные точки*/
@media screen and (min-width: 1279px) and (max-width: 1919px) {
	.wrapper {
		width: 85%;
		margin: 30px auto;
	}

	p {
		font-size: 28px;
	}

	.block__title {
		font-size: 18px;
	}

	.block__text {
		width: 70%;
		font-size: 16px;
	}
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
	.wrapper {
		width: 90%;
		margin: 20px auto;
		padding: 10px 20px;
	}

	p {
		font-size: 24px;
	}

	.block__item {
		margin: 10px 0px 0px 0px;
	}

	.block__title {
		margin: 12px 0px 7px 0px;
		font-size: 16px;
	}

	.block__text {
		width: 80%;
		font-size: 14px;
	}

	.block__title:before,
	.block__title:after {
		width: 16px;
		height: 2px;
		right: 3px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	body {
		letter-spacing: 0px;
	}

	.wrapper {
		width: 95%;
		margin: 10px auto;
		padding: 5px 10px;
	}

	p {
		font-size: 20px;
	}

	.block__item {
		margin: 5px 0px 0px 0px;
	}

	.block__title {
		margin: 10px 0px 5px 0px;
		font-size: 14px;
	}

	.block__text {
		width: 90%;
		font-size: 12px;
	}

	.block__title:before,
	.block__title:after {
		width: 12px;
		height: 2px;
		top: 9px;
		right: 1px;
	}
}